body {
    font-family: 'Inter', Arial, sans-serif;
    padding:0px;
    margin:0px;
    overflow: scroll;
}
.main-container{
    display:flex;
    padding:10px 0px;
    width: 100%;
    height: 100%;
    /* height:100vh;
    justify-content: center;
    align-items: center; */
}
.content{
    display:flex;
    width: 65%;
    margin:auto;
    flex-direction: column;
}
.content{
    display:flex;
}
.navbar{
    display: flex;
    width: 100%;
    padding:16px 0px;
    justify-content: space-between;
    align-items: center;
}
.upper-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo{
    height: 1.75rem;
}
.link{
    text-decoration: none;
    color: #4B5563;
    font-size: 14px;
}
.slot-btn{
    color:#ffffff;
    background-color: #EEAA22;
    font-size: 14px;
    border:none;
    width:151px;
    height:32px;
    border-radius: 9999px;
}
.middle{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    font-size: 72px;
    color:#111827;
    margin: 0px;

}
p{
    color: #374151;
    margin: 32px 0px 0px;
}
.span1{
    color:#EEAA22;
    font-size: 72px;
}
.btns{
    display: flex;
    margin: 64px 0px 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.slot-btnA{
    color:#ffffff;
    background-color: #EEAA22;
    font-size: 16px;
    font-weight: bold;
    border:none;
    width:184px;
    height: 44px;
    border-radius: 9999px;
}
.register-btn {
    color: #EEAA22;
    background-color: #EEAA221A;
    font-size: 16px;
    font-weight: bold;
    border:none;
    width:184px;
    height: 44px;
    border-radius: 9999px;
}
.middle2{
    display: flex;
    width: 100%;
    margin-top: 4rem;
    text-align: start;
    padding: 32px 0px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;;
}
h6{
    font-size:18px;
    margin:0px;
    color:#374151;
}

.text p{
    color:#6B7280;
    font-size: 16px;
    margin:8px 0px 0px;
}
.lower-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    text-align: center;
}
.lower-content img{
    width: 64px;
    height: 64px;
    margin: 0px 54px;
}
.lower-content div{
    padding:16px;
}
.features{
    display:flex;
    padding:10px 0px;
    width: 100%;
    height: 100%;
}
.features-content{
    display:flex;
    width: 65%;
    margin:auto;
    flex-direction: column;
}
.benefits{
    width: 50%;
    margin-top: 7rem;
}
.color-svg{
    color:rgb(249 115 22);
    width:24px;
    height: 24px;
}
.feature-heading{
    margin:32px 0px;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #374151;

}
.feature-p{
    color: #4B5563;
    font-size: 16px;
    margin:0px;
}
.functions{
    display:flex;
    margin-top: 4rem;
    
}
.box{
    display:flex;
    border: 1px solid grey;
    border-radius: 1.5rem;
    
}

/* .box:hover{
    z-index:1;
    border:1px solid grey; 
} */

.box-content:hover h5 {
    color:rgb(249 115 22);
}

.box-content{
    padding:48px 32px;
    /* border-top: 1px solid grey;
    border-left:1px solid grey; 
    border-right: 1px solid grey;
    border-bottom: 1px solid grey; */
    border-right: 1px solid grey; 
}
.box-content:hover{
    background-color: #ffffff;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
}
.first:hover{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-top-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.last{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-top-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.box-img{
    width:48px;
    height:48px;
}
.inner-text{
    margin:32px 0px 0px;
}
.inner-text h5{
    color: #374151;
    font-size: 20px;
    margin:0px;
}
.inner-text p{
    color:#4B5563;
    margin:8px 0px 0px;

}
.Reviews{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 3.5rem;
}
.review-content{
    display: flex;
    width: 65%;
    margin: auto;
    flex-direction: column;
    padding:0px 24px;
    
}
.head-text{
    text-align: center;
    margin-bottom: 5rem;
}
.head-text h2{
    color: #1F2937;
    font-size: 36px;
    padding:0px;
    margin: 0px;
}
.review-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.review-box{
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #ffffff;
    border: 1px solid rgb(243 244 246);
    border-radius: 1.5rem;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);;
    

}
.review-box h6{
    font-weight: 500;
}
.img-name{
    display: flex;
    gap:1rem;
}
.img-name img{
    height: 3rem;
    width: 3rem;
    border-radius: 9999px;
}
.get-start{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    margin-top: 3.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.start-content{
    
    width: 65%;
    margin: auto;
    /* padding-left: 1.5rem;
    padding-right: 1.5rem; */

}
.imgs{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.shift{
    margin: 0px 0px 0px -8px;
}
.inner-text1{
    /* margin-top: 1.5rem; */
    max-width: 58.33%;

    margin: 1.5rem auto 0px;
}
.inner-text1 h1{
    color:#1F2937;
    font-size: 48px;
    text-align:center;
    line-height: 1;
}
.inner-text1 p{
    color:  rgb(75 85 99);
    text-align: center;
    /* min-width: 1024px; */
    margin-top: 1.25rem;
    line-height: 1.75rem;
    font-size: 1.15rem;
}
.slot-btn1{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 24px 0px 0px;
}
.slot-btnA1{
    background-color: #EEAA22;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    width: 200px;
    height: 44px;
    border-radius: 9999px;
}
.footer1{
    background-color: #1C1C1C;

}
.footer-content{
    max-width: 80rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}
.inner{
    display: flex;
    column-gap: 2.5rem;
    ;
}
.policy{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    gap: .5rem;
    margin-left: 1.25rem;
    ;
}
.policy div a{
    color:#FFFFFF;
    font-size: 16px;
    text-decoration: none;
    ;
}
.support{
    display: flex;
    flex: 1 1 0%;
    column-gap: 1.5rem;
    justify-content: space-evenly;
}
.anchors div{
    margin: 8px 0px 0px;
}
.anchors a{
    text-decoration:none; 
    font-size: 14px;
    color: #FFFFFF;
}