.body{
    width: 100%;
    height: 100%;
}
.carousel-container{
    position: relative;
    cursor: pointer;
    width: 70%;
    max-width: fit-content;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    overflow: hidden;
    
}
.slide{
    display: none;
}
img{
    min-width: 700px;
}
.prev {
    position: absolute;
    /* width: 20px;
    height: 20px; */
    top: 50%;
    left: 0;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    padding-left: 7.5%;
    opacity: 0.5;
    margin-top: -26px;
}

.next {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    padding-right: 7.5%;
    opacity: 0.5;
    margin-top: -26px;
}

.prev:hover, .next:hover{
    opacity: 1;
}

.indicator{
    display: inline-block;
    width: 30px;
    height: 3px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgba(255, 255, 255, .5);
}

.indicator:hover, .currentind{
    background-color: rgba(255, 255, 255,1);
}